%h1 Listing payers

.container
  .row.table-base
    .col-lg-2 FIO
    .col-lg-2 Address
    .col-lg-2 Invoice
    .col-lg-2 Phone number
    .col-lg-2 Payer's bank
    .col-lg-2
  - @payers.each do |payer|
    .row.table-base
      .col-lg-2= payer.fio
      .col-lg-2= payer.adress
      .col-lg-2= payer.invoice
      .col-lg-2= payer.telephone
      .col-lg-2= payer.bank_payer
      .col-lg-2= link_to 'Show', payer