.container
  Filter
  = form_tag table_operations_path, method: 'get', id: 'filter' do
    = label_tag 'FIO'
    = text_field_tag :payer_fio
    = label_tag "Acceptor's name"
    = text_field_tag :acceptor_name
    = submit_tag 'Submit Filter'